
.chats {
    padding: 10px;
}
.chats__body {
    display: flex;
    flex-direction: column;
}
.chats__item {
    align-self: flex-start;
    background-color: #fff;
    border: 1px solid  rgb(93, 93, 151);
    margin: 0 50px 10px 0;
    padding: 10px;
    border-radius: 12px;
    font-size: 20px;
}
.chats__item_friend {
    align-self: flex-end;
    margin: 0 0 10px 50px;
}

