
.chats {
    max-height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-rows: 1fr 100px;
    background-color: hotpink;

}
.chats__body {
    overflow: scroll;
    background-color: green;
}
.chats__newchat {
    background-color: rgb(240, 70, 217);
}


