
.chats {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 100px;

}
.chats__body {
    padding: 10px;
    margin: 0 10px 0 0;
    overflow-y: auto;
    scrollbar-width: 2px;
}
.chats__body::-webkit-scrollbar {
    display: block;
    width: 7px;
    background-color: transparent;
}
.chats__body::-webkit-scrollbar-track {
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.chats__body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(93, 93, 151);
}
.chats__newchat {
    padding: 2px 7px;
    background-color: rgba(137, 43, 226, 0.123);
}


