.profile {
    margin: 0 10px 0 0;
    overflow-y: auto;
    max-height: 100%;
}
.profile::-webkit-scrollbar {
    display: block;
    width: 7px;
    background-color: transparent;
}
.profile::-webkit-scrollbar-track {
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.profile::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(93, 93, 151);
}
