.header {
    margin-top: 2px;
    grid-area: header;
    border: 1px solid pink;
    overflow: hidden;
}

.header__image {

}
.header__image img {
    width: 100%;
    object-fit: contain;
    object-position: 0 -300px;
}
@media(max-width: 1000px) {
    .header__image img {
        object-position: 0 -30vw;
    }
}